In [6]:
import pandas as pd

import matplotlib
import matplotlib.pyplot as plt
import os
print(os.getcwd())

/home/hacker/Curso Hackaboss/Proyecto

In [7]:
df = pd.read_csv("Data/heroes_completo.csv")
df.head(5)

,id,name,intelligence,strength,speed,durability,power,combat,full-name,alter-egos
0,1,A-Bomb,38.0,100,17.0,80.0,24.0,64.0,Richard Milhouse Jones,No alter egos found.
1,2,Abe Sapien,88.0,28,35.0,65.0,100.0,85.0,Abraham Sapien,No alter egos found.
2,3,Abin Sur,50.0,90,53.0,64.0,99.0,65.0,NaN,No alter egos found.
3,4,Abomination,63.0,80,53.0,90.0,62.0,95.0,Emil Blonsky,No alter egos found.
4,5,Abraxas,88.0,63,83.0,100.0,100.0,55.0,Abraxas,No alter egos found.